<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>503175432454-6qnh52ul8bl32c368a7tqo7brqber3cu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.503175432454-6qnh52ul8bl32c368a7tqo7brqber3cu</string>
	<key>API_KEY</key>
	<string>AIzaSyDoGmDYUj_DVgAJec0DToa0q7d532G_1pk</string>
	<key>GCM_SENDER_ID</key>
	<string>503175432454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>binder-project</string>
	<key>STORAGE_BUCKET</key>
	<string>binder-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:503175432454:ios:a23c8e85277f6b86707687</string>
</dict>
</plist>